/* Write your CSS here */
.product-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 90%;
  max-width: 1110px;
  min-height: 80vh;
}
.product-card {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 30px;
  padding-top: 15px;
}
@media screen and (max-width: 767px) {
  .product-card {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
  }
}
.avatar-image {
  width: 50%;
  height: 700px;
  border-radius: 12px;
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  .avatar-image {
    height: 350px;
    width: 100%;
  }
}

.product-details-card {
  display: flex;
  flex-direction: column;
  width: 450px;
}
@media screen and (max-width: 767px) {
  .product-details-card {
    width: 100%;
  }
}
.details-card {
  padding-bottom: 10px;
  border-bottom: 2px solid #cbced2;
}
.rating-view-details {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Specific product details text styles*/
.product-detail-title {
  font-family: 'Roboto';
  font-size: 50px;
  color: #475569;
  line-height: 1.5;
  padding: 0px;
  margin: 0px;
}
@media screen and (max-width: 767px) {
  .product-detail-title {
    font-size: 30px;
    line-height: 1;
  }
}
.product-detail-price {
  font-family: 'Roboto';
  font-size: 26px;
  color: #1e293b;
  font-weight: 550;
}
@media screen and (max-width: 767px) {
  .product-detail-price {
    font-size: 24px;
  }
}
.review-text {
  font-family: 'Roboto';
  font-size: 15px;
  color: #12022f;
  font-weight: 500;
}
.product-description {
  font-family: 'Roboto';
  font-size: 20px;
  color: #616e7c;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .product-description {
    font-size: 17px;
  }
}
.head-text {
  font-family: 'Roboto';
  font-size: 20px;
  color: #000000;
  font-weight: 450;
}
@media screen and (max-width: 767px) {
  .head-text {
    font-size: 18px;
  }
}
.para-text {
  font-family: 'Roboto';
  font-size: 18px;
  color: #616e7c;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .para-text {
    font-size: 16px;
  }
}
/* product count card and add to cart view*/
.product-count-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 25px;
}
@media screen and (max-width: 767px) {
  .product-count-card {
    margin-top: 10px;
  }
}
.control-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  align-items: center;
}

.control-button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}

.count-text {
  font-family: 'Roboto';
  font-size: 17px;
}

.toCart-button {
  background-color: #3b82f6;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 11px 15px;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  width: 130px;
}
/* similar product details css*/

.similar-heading {
  padding-top: 45px;
}
.similar-details-container {
  list-style: none;
  padding: 0px;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}
/* Failure View*/
.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fail-image {
  width: 50%;
}
.fail-text {
  font-family: 'Roboto';
  font-size: 35px;
  line-height: 25px;
  color: #171f46;
}
.back-button {
  background-color: #3b82f6;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 11px 15px;
  width: 200px;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
}
